Logical operators (and &, or |, not)

In [1]:
x = 5
print(False or False or (x >= 3) or False)

True

In [4]:
False and True and (15 > 15 | 15 == 15) and True

False

In [2]:
not(True & False)

True

In [5]:
not(not(True))

True

+,-,* Operators with Strings

In [13]:
s , name= "Hello,", "Adham!"
print(s + ' ' + name)

Hello, Adham!

In [24]:
x = 'abc'
print(3 + x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
x = 'abc'
s = 'c'
print(x - s)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

int(), str(), list()

In [22]:
n = '4'
print(type(n))
m = int(n)
print(m)

<class 'str'>
4

In [23]:
n = '4.0'
print(type(n))
m = int(n)
print(m)

<class 'str'>

ValueError: invalid literal for int() with base 10: '4.0'

In [26]:
n = 4.0
print(type(n))
m = int(n)
print(m)

<class 'float'>
4

In [27]:
n = 4.0
print(type(n))
m = str(n)
print(m)

<class 'float'>
4.0

In [28]:
n = 4
print(type(n))
m = str(n)
print(m)

<class 'int'>
4

In [31]:
n = 'Hello'
print(type(n))
m = list(n)
print(m)

<class 'str'>
['Hello', 'World']

Indexing, Slicing, list methods

In [32]:
my_list = [10, 20, 30, 40, 50]
print(my_list[-1])

50

In [33]:
my_list = [10, 20, 30, 40, 50]
print(my_list[4])

50

In [34]:
my_list = [10, 20, 30, 40, 50]
print(my_list[:4])

[10, 20, 30, 40]

In [35]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1:])

[20, 30, 40, 50]

In [36]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1:3])

[20, 30]

In [37]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
numbers = []
for i in my_list:
    if i % 2 == 0:
        numbers.append(i)
print(numbers)

[2, 4, 6, 8]

In [38]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
for i in my_list:
    if i % 2 == 0:
        my_list.remove(i)
print(my_list)

[1, 3, 5, 7]

For, while loops

In [39]:
my_list = [1, 2, 3, 4]
for i in my_list:
    i = i + 1
print(my_list)

[1, 2, 3, 4]

In [41]:
my_list = [1, 2, 3, 4]
for i in range(4):
    my_list[i] = my_list[i] + 1
print(my_list)

[2, 3, 4, 5]

In [43]:
#there are two errors in this code Try to fix it
my_list = [1, 2, 3, 4]
i = 0 
while i < len(my_list):
    my_list[i] = my_list[i] + 1
    i += 1
print(my_list)

[2, 3, 4, 5]

split method

In [44]:
text = '1 2 3 4 Malak Mazen Mohamed'
print(text.split())

['1', '2', '3', '4', 'Malak', 'Mazen', 'Mohamed']

In [47]:
5 % 2
#5 = 2 + 2 + 1

1